h1 {
    -webkit-transition: border-radius 2s;
    transition: border-radius 2s;
    border: 20px solid black;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 50px;
}

h1:hover {
    border-radius: 50px;
}

img {
    margin-left: 750px;
}